<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RentalApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignup</display-name>
    <servlet-name>AdminSignup</servlet-name>
    <servlet-class>com.admin.AdminSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignup</servlet-name>
    <url-pattern>/AdminSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEquipments</display-name>
    <servlet-name>AddEquipments</servlet-name>
    <servlet-class>com.admin.AddEquipments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEquipments</servlet-name>
    <url-pattern>/AddEquipments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEquipment</display-name>
    <servlet-name>AddEquipment</servlet-name>
    <servlet-class>com.admin.AddEquipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEquipment</servlet-name>
    <url-pattern>/AddEquipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>com.admin.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignup</display-name>
    <servlet-name>UserSignup</servlet-name>
    <servlet-class>com.admin.UserSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignup</servlet-name>
    <url-pattern>/UserSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.admin.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conferm</display-name>
    <servlet-name>Conferm</servlet-name>
    <servlet-class>com.admin.Conferm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conferm</servlet-name>
    <url-pattern>/Conferm</url-pattern>
  </servlet-mapping>
</web-app>